{% extends "index.html" %}
{% load static %}

{% static "assets" as baseUrl %}
<html>
    {% block content %}
    {% if user_obj %}



    {% for ag in user_obj %}
    
    
  <main id="main">

    {% for message in messages %}

    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    
    {% endfor %} 

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{ ag.username.first_name }} {{ ag.username.last_name }}</h1>
              <!-- <span class="color-text-a">Agent Immobiliari</span> -->
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Agents</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ ag.username }}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single -->

    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="agent-avatar-box">
                  <img src="{% url 'media' %}{{ ag.image }}" alt="" class="agent-avatar img-fluid">
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d">{{ ag.username.first_name }} {{ ag.username.last_name }}
                        <!-- <br> Escala -->
                      </h3>
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    <!-- <p class="content-d color-text-a">
                        {{ ag.summary }}
                    </p> -->
                    <div class="info-agents color-a">
                      <p>
                        <strong>Phone: </strong>
                        <span class="color-text-a"> {{ ag.phone }} </span>
                      </p>
                      <!-- <p>
                        <strong>Mobile: </strong>
                        <span class="color-text-a">0</span>
                      </p> -->
                      <p>
                        <strong>Email: </strong>
                        <span class="color-text-a"> {{ ag.username.email }}</span>
                      </p>
                      <!-- <p>
                        <strong>skype: </strong>
                        <span class="color-text-a"> Margaret.Es</span>
                      </p> -->
                      <!-- <p>
                        <strong>Email: </strong>
                        <span class="color-text-a"> agents@example.com</span>
                      </p> -->
                    </div>
                  </div>
                  <!-- <div class="socials-footer">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-t8">
            <div class="title-box-d">
              <h3 class="title-d">My Properties</h3>
            </div>
          </div>
          <div class="row property-grid grid">
            <!-- <div class="col-sm-12">
              <div class="grid-option">
                <form>
                  <select class="custom-select">
                    <option selected>All</option>
                    <option value="1">New to Old</option>
                    <option value="2">For Rent</option>
                    <option value="3">For Sale</option>
                  </select>
                </form>
              </div>
            </div> -->
       
            {%  for property in properties %}

            {% if ag.username.username == property.agent.username.username %} 
            <div class="col-md-4">
            
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{% url 'media' %}{{ property.image }}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'properties' property.slug %}">{{ property.title }}
                          <br /> {{ property.address }}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">{{ property.status }} | Rs {{ property.price }}</span>
                      </div>
                      <a href="{% url 'properties' property.slug %}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Area</h4>
                          <span>{{ property.area }}m
                            <sup>2</sup>
                          </span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Beds</h4>
                          <span>{{ property.bed }}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">Baths</h4>
                          <span>{{ property.bath }}</span>
                        </li>
                        <!-- <li>
                          <h4 class="card-info-title">Garages</h4>
                          <span>1</span>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            

            </div>
            {% endif %}
            {% endfor %}
    

          </div> 
        </div>
      </div>
    </section><!-- End Agent Single -->

  </main><!-- End #main -->

  {% endfor %}



  {% else %}
  <div class="container">
    <div class="col-sm-12 section-t8">
    <div class="row">
    <div class="col-md-9">
    <h2> Sry Not Found !</h2>
    </div>
    </div>
    </div>
    </div>
  {% endif %}
    {% endblock %}
</html>