{% extends "index.html" %}
{% load static %}
<html>
    {% block content %}
    {% if user.is_authenticated %}
    
    
    <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">Dashboard</h1>
                <span class="color-text-a">Hello {{ user.first_name }}</span>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Dashboard
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="property-grid grid">
        <div class="container">
          <div class="row">
    {% for property in properties %}
    {% if user == property.agent.username %}
     <!-- <li><a href="{% url 'properties' property.slug %}">{{property.title }}</a>- 

     </li> -->

     
     <div class="col-md-4">
      <div class="card-box-a card-shadow">
        <div class="img-box-a">
          <img src="{% url 'media' %}{{property.image}}" alt="" class="img-a img-fluid">
        </div>
        <div class="card-overlay">
          <div class="card-overlay-a-content">
            <div class="card-header-a">
              <h2 class="card-title-a">
                <a href="{% url 'properties' property.slug %}">{{property.address}}
                  <br />{{property.address2}}</a>
              </h2>
            </div>
            <div class="card-body-a">
              <div class="price-box d-flex">
                <span class="price-a">rent | Rs {{property.price}}</span>
              </div>
              <a href="{% url 'edit_properties' property.pk %}" class="link-a">Click here to edit
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
             <div class="card-footer-a">
              <ul class="card-info d-flex justify-content-around">
                <li>
                  <h4 class="card-info-title"> <a href="{% url 'properties' property.slug %}"> View </a> </h4>
                  <sup> </sup>
                  <!-- <span>340m
                    
                  </span> -->
                </li>
               
                <li>
                  <h4 class="card-info-title"><a href="{% url 'edit_properties' property.pk %}" class="link-a">Edit</a></h4>
                  <!-- <span>2</span> -->
                </li>
                <li>
                  <h4 class="card-info-title"> <a href="{% url 'delete_properties' property.pk %}" class="link-a">Delete</a></h4>
                  <!-- <span>4</span> -->
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}
</div>
</div>
</section>



<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Messages</h1>
          <span class="color-text-a">Hello {{ user.first_name }}</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Dashboard
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row">
 
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Budget</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
    
      {% for msg in message %}  
      {% if user.username == msg.agent.username %}
     
      <!-- <ul class="list-group">
       <h4 class="title-single">Name:</h4>
        <li class="list-group-item"> {{msg.name}}</li>
        <h4 class="title-single">Email:</h4>
        <li class="list-group-item"> {{msg.email}}</li>
        <h4 class="title-single">Phone:</h4>
        <li class="list-group-item"> {{msg.phone}}</li>
        <h4 class="title-single">Budget:</h4>
        <li class="list-group-item"> {{msg.budget}}</li>
        <h4 class="title-single">Message:</h4>
        <li class="list-group-item"> {{msg.comment}}</li>
      </ul>
     -->



    
      <tbody>
        <tr>
          <th scope="row"> {{msg.id}}</th>
          <td> {{msg.name}}</td>
          <td> {{msg.email}}</td>
          <td> {{msg.phone}}</td>
          <td> {{msg.budget}}</td>
          <td> {{msg.comment}}</td>
        </tr>
     
      </tbody>
  
   
  
   

      {% endif %}
  
     {% endfor  %} 
    
    </table>
    </div>
  </div>



    {% else %}
    <div class="container">
        <div class="col-sm-12 section-t8">
            <div class="row">
    <div class="alert alert-danger" role="alert">
        You are not logged in.
      </div>
      <div class="col-md-12 text-center">
        <a href="login.html"><button type="submit" class="btn btn-a">Login</button></a>
      </div>
      </div>
      </div>
    </div>
    {% endif %}
      {% endblock %}
  </html>